<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" type="text/css" href="AboutUs.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/Users/noblemathew/Documents/OneDrive/Church/Website/White-Plains-Gospel-Chapel/Media/GC.PNG" width="50" height="50" alt=""></a>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
        <a class="nav-link disabled" href="#">Home</a>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="/Welcome">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
  </nav>

  <meta charset="utf-8">
  <title>Home Page</title>
</head>

<body class="body" style="background-color: gainsboro; text-align: center;">
  <div id="jumbo" class="jumbotron jumbotron-fluid" style="text-align: center;
  background-image: url(Media/WPskyline.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;">
    <div class="container" style="text-align: center;">
      <h1 id="intro" class="display-4" style="color: white;">White Plains Gospel Chapel</h1>
      <p class="lead">436 N Broadway, White Plains, NY</p>
    </div>
  </div>
  ​
  <div class="AboutUs">
    <h2>Welcome</h2>
  
    <div id="aboutpara" class="container">
        <li>
          <p>Welcome, and thank you for visiting White Plains Gospel Chapel online. We hope that you'll find helpful information regarding our life as a body of believers whose worship, prayer, fellowship and ministry is centered around the Lord Jesus Christ and His Gospel.</p>
        </li>
    </div>
  </div>
  
  <br>
  <br>

  <div class = "container">
    <div class="row">
        <div class="col s12 16">
          <div class="card">
            <div class="card-image">
              <img src="/Users/noblemathew/Documents/OneDrive/Church/Website/White-Plains-Gospel-Chapel/Media/church.png">
              <!-- <span class="card-title" style="text-align:justify;">Card Title</span> -->
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">About US</a>
            </div>
          </div>
        </div>
          <div class="col s12 16">
            <div class="card">
              <div class="card-image">
                <img src="/Users/noblemathew/Documents/OneDrive/Church/Website/White-Plains-Gospel-Chapel/Media/gathering.png">
                <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">Gathering</a>
              </div>
            </div>
          </div>
          <div class="col s12 16">
              <div class="card">
                <div class="card-image">
                  <img src="/Users/noblemathew/Documents/OneDrive/Church/Website/White-Plains-Gospel-Chapel/Media/Events.png">
                  <!-- <span class="card-title">Card Title</span> -->
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">Events</a>
                </div>
              </div>
            </div>
        </div>
  </div>  
  
  <hr>
  ​

  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
​

</html>
